<div style="margin:0 auto;width:70%">
<h3><strong>Proyectos</strong></h3>

<p>
  A continuación se muestran los proyectos asociados al usuario de la sesión actual, tanto los que ha creado como a los que ha sido incluido. Para agregar un proyecto, presione el botón "Nuevo Proyecto" y para ver más información sobre cada proyecto presione "Ver Detalles".
</p>

<br/>

<%= link_to 'Nuevo Proyecto', proyectos_new_path, :class => "waves-effect waves-light btn float-left", :style => "color:white;margin-left:0px" %>

<br/>
<br/>

<h5>Mis proyectos</h5>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Inicio</th>
      <th>Fin</th>
      <th>Ver Detalles</th>
    </tr>
  </thead>

  <tbody>
    <% @proyectos.each do |proyecto| %>
    <% @usuario_proyectos.each do |usuario_proyecto| %>
      <% if (proyecto.id == usuario_proyecto.proyecto_id and usuario_proyecto.participante_id==current_user.id) %>
        <tr>
          <td><%= proyecto.proyecto_nombre %></td>
          <td><%= proyecto.fecha_inicio %></td>
          <td><%= proyecto.fecha_fin %></td>
          <td><%= link_to "Ver Detalles",proyectos_home_path %></td>
        </tr>
      <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>

<!--<table>
  
  <tbody>
    <% @proyectos.each do |proyecto| %>
    <% @usuario_proyectos.each do |usuario_proyecto| %>
      <tr>
      <% if (proyecto.id == usuario_proyecto.proyecto_id and usuario_proyecto.participante_id==current_user.id) %>

        <ul class="collection">
          <li class="collection-item avatar">
            <i class="mdi-file-folder circle"></i>
            <span class="title">Proyecto: <%= proyecto.proyecto_nombre %></span>
            <p>Duración: <%= proyecto.fecha_inicio %> hasta <%= proyecto.fecha_fin %><br>
              
            </p>            
          </li>
        </ul> 

      </tr>

      <%end%>
      <%end%>
    <% end %>
  </tbody>
</table>-->

<br/>
</div>

