<div style="margin:0 auto;width:50%">
<h3>Editar Usuario</h3>  
<p>
  A continuación ingrese los nuevos datos en los campos correspondientes y luego presione "Guardar" para conservar los cambios. Recuerde que cambiar el e-mail podría cambiar la imagen de perfil actual.
</p>
<%= form_for @user do |f| %>  
  <% if @user.errors.any? %>  
    <div class="alert alert-danger" role="alert" style="text-align:center"> 
      <ul>  
        <% for message in @user.errors.full_messages %>  
          <li><%= message %></li>  
        <% end %>  
      </ul>  
      <br/>
    </div>  
  <% end %>
  <div class="field">
    <%= f.label :participante_nombre %><br/>
    <%= f.text_field :participante_nombre %>  
  </div>
  <div class="field">
    <%= f.label :participante_apellido %> 
    <%= f.text_field :participante_apellido %>  
  </div>
  <div class="field">
    <%= f.hidden_field :tipo, :value=> 'team' %> 
  </div>
  <div class="field">
    <%= f.label :email %> 
    <%= f.text_field :email %>  
  </div>
  <br/>
  <div style="text-align:center">
  <%= f.submit "Guardar", :class => "btn btn-success", :style => "margin-right:5%", data: {confirm: "¿Está seguro que desea conservar los cambios?"} %><%= link_to "Volver", user_path(current_user), :class => "btn btn-success", :style => "margin-left:5%" %></div>
<% end %>  
</div>
<%= $edit %>