<!--<h1>Sign Up</h1>  
<%= link_to "Log out", log_out_path %> 
  
<%= form_for @participante do |f| %>  
  <% if @participante.errors.any? %>  
    <div class="error_messages">  
      <h2>Form is invalid</h2>  
      <ul>  
        <% for message in @participante.errors.full_messages %>  
          <li><%= message %></li>  
        <% end %>  
      </ul>  
    </div>  
  <% end %>  
  <p>  
    <%= f.label :email %><br />  
    <%= f.text_field :email %>  
  </p>  
  <p>  
    <%= f.label :password %><br />  
    <%= f.password_field :password %>  
  </p>  
  <p>  
    <%= f.label :password_confirmation %>  
    <%= f.password_field :password_confirmation %>  
  </p>  
  <p class="button"><%= f.submit %></p>  
<% end %> -->

<div style="margin:0 auto;width:50%;text-align:center">    
    <h3><strong>Registrarse</strong></h3>  
      
    <%= form_for @participante do |f| %>  
      <% if @participante.errors.any? %>  
        <div class="alert alert-danger" role="alert" style="text-align:center">  
            <ul>  
              <% for message in @participante.errors.full_messages %>  
                <li><%= message %></li>  
              <% end %>  
            </ul>
            <br/>  
        </div>  
      <% end %>
      <br/>
      <table style="margin:0 auto">
      <tr>
        <td width="40%" style="text-align:left"><%= label_tag "Nombre" %></td>
        <td><%= f.text_field :participante_nombre %></td>
      </tr>
      <tr><td colspan="2">&nbsp</td></tr>
      <tr>
        <td style="text-align:left"><%= label_tag "Apellido" %></td>
        <td><%= f.text_field :participante_apellido %></td> 
      </tr>
      <tr><td colspan="2">&nbsp</td></tr>
      <tr>
        <td colspan="2"><%= f.hidden_field :tipo, :value=> 'team' %> </td>
      </tr>
      
      <tr>
        <td style="text-align:left"><%= f.label :email %> </td>
        <td><%= f.text_field :email %> </td>
      </tr>
      <tr><td colspan="2">&nbsp</td></tr>
      <tr>
        <td style="text-align:left"><%= f.label :password %> </td>
        <td><%= f.password_field :password %>  </td>
      </tr>
      <tr><td colspan="2">&nbsp</td></tr>
      <tr>
        <td style="text-align:left"><%= label_tag "Confirmación de password" %>  </td>
        <td><%= f.password_field :password_confirmation %>  </td>
      </tr>
      </table>
      <br/>
      <br/>
      <div style="text-align:center" ><%= f.submit "Registrar", :class => "btn btn-success", :style => "margin-right:5%"%><%= link_to "Volver", root_path, :class => "btn btn-success", :style => "margin-left:5%" %></div>
    <% end %>  
</div>

<br/>
<br/>